
html, body, :global(#root) {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: white;
}


img{
  max-width: 100% !important;
}

:global(.copy-button){
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 14px;
}